body {
  background-color: #000;
}

::selection {
  background: rgba(255, 77, 106, 0.24);
  color: #FF4D6A;
  -webkit-text-stroke-width: 0;
}

.member-grid-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.hover-grayscale {
  transition: all 500ms;
}

.hover-grayscale > * {
  filter: grayscale(70%);
  opacity: 0.8;
}

.hover-grayscale:hover > *:hover {
  filter: unset;
  opacity: 1;
}

.rounded-full {
  border-radius: 100%;
}

.avatar-badge {
  cursor: pointer;
  transition: transform 200ms;
}

.avatar-badge:hover {
  z-index: 999 !important;
  transform: scale(1.15);
}

.yellow-gradient-color {
  background: linear-gradient(90deg, #ffbc29, #eadf58);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.purple-gradient-color {
  background: linear-gradient(270deg, #53a0ec, #57c84f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-gradient-color {
  background: linear-gradient(90deg, #ec6193, #ec4b31);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient-color {
  background: linear-gradient(270deg,#5200ff,#c84fb5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
